confluent-kafka
requests
psycopg2-binary
transformers>=4.46.0
python-dotenv
pydantic
streamlit
pandas
SQLAlchemy
great-expectations>=1.0.0

--extra-index-url https://download.pytorch.org/whl/cpu
torch>=2.5.0